-- Webhook Idempotency and Ordering Migration

CREATE TABLE IF NOT EXISTS processed_webhooks (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    provider TEXT NOT NULL,
    event_id TEXT NOT NULL,
    event_type TEXT NOT NULL,
    occurred_at TIMESTAMPTZ NOT NULL,
    created_at TIMESTAMPTZ DEFAULT now(),
    UNIQUE(provider, event_id)
);

-- Add column to profiles to track the latest webhook timestamp for ordering protection
ALTER TABLE profiles 
ADD COLUMN IF NOT EXISTS last_webhook_occurred_at TIMESTAMPTZ DEFAULT '2000-01-01T00:00:00Z';

